
:root {
    --polar-night-1: #2e3440;
    --polar-night-2: #3b4252;
    --polar-night-3: #434c5e;
    --polar-night-4: #4c566a;

    --snow-storm-1: #d8dee9;
    --snow-storm-2: #e5e9f0;
    --snow-storm-3: #eceff4;

    --frost-1: #8fbcbb;
    --frost-2: #88c0d0;
    --frost-3: #81a1c1;
    --frost-4: #5e81ac;

    --aurora-1: #bf616a;
    --aurora-2: #d08770;
    --aurora-3: #ebcb8b;
    --aurora-4: #a3be8c;
    --aurora-5: #b48ead;
}



@font-face {
    font-family: "Iosevka";
    src: url("iosevka-regular.woff2") format("woff2");
}

@font-face {
    font-family: "Iosevka";
    src: url("iosevka-bold.woff2") format("woff2");
    font-weight: bold;
}

@font-face {
    font-family: "Iosevka";
    src: url("iosevka-italic.woff2") format("woff2");
    font-style: italic;
}



.header {
    border: 1px solid var(--polar-night-3);
    background: var(--snow-storm-3);
    font-family: "Iosevka";
}

.logo {
    background: var(--polar-night-4);
    color: var(--snow-storm-3);
    font-size: 40px;
    padding-left: 8px;
    padding-right: 8px;
}

.header_button {
    background-color: var(--frost-3);
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: "Iosevka";
}

.header_button:hover {
    background-color: var(--frost-1);
}

#examples_dialog {
    width:25%;
}

.examples_dialog_content,
.examples_dialog_content table,
.examples_dialog_content tbody,
.examples_dialog_content tr,
.examples_dialog_content td,
.examples_dialog_content button {
    display: block;
    width:100%;
}

.examples_dialog_button {
    background-color: var(--frost-3);
    width:100%;
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    font-family: "Iosevka";
}

.examples_dialog_button:hover {
    background-color: var(--frost-1);
}

.github {
    float: right;
    transform: translateY(12px);
    margin-right: 15px;
}

html, body {
    color: var(--polar-night-4);
    margin-left : 0px;
    margin-right : 0px;
    margin-top : 0px;
    margin-bottom : 0px;
    height: 100%;
}

.tabsList {
    display: none !important;
}

.tableGraph {
    table-layout: fixed;
    width: 100%;
    height: 400px;
}

.raw_graph {
    border: solid 1px var(--frost-4);
    height: 100%;
}


.footer {
    position: sticky;
    top: 100%;
    font-family: "Iosevka";
}

.text-center {
    text-align: center;
}
